<p>Add a new to-do:</p>

<form action="/todos" method="post">
  <label for="description">To-do description:</label>
  <input type="text" name="description" id="description">

  <button type="submit" class="btn btn-default">Add to-do</button>
</form>
